// Breakpoints
$layout-breakpoint-large: 1920px;
$layout-breakpoint-medium: 1440px;
$layout-breakpoint-small: 1100px;
$layout-breakpoint-xsmall: 480px;

// Colors
$background-light: #f2f2f2;
$background-dark: #0b090a;
$text: #0b090a;
$text-light: #f2f2f2;
$white: #ffffff;
$shadow: rgba(0, 0, 0, 0.5);
